<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="root"></div>

</body>

<script>
    const vm = new Vue({
        el: "div#root",
        template: `
            <div>
                <ul>
                    <li v-for="(element, index) of elements" style="margin:10px;">
                        <span v-if="!element.modifyOn"
                            v-on:dblclick="modifier(element)"> {{ element.text }} </span>
                        <input type="text" v-else style="width:100px;"
                        v-bind:value="element.text"
                        v-on:keyup="valider(element, $event)">
                    
                        <button @click="supprimer(element)" style="margin-left:10px;">Supprimer</button>
                    </li>
                </ul>
                <span v-if="elements.length === 0">La liste est vide !!</span>
            </div>
        `,
        data: {
            elements: [
                { text: "element 1", modifyOn: false },
                { text: "element 2", modifyOn: false },
                { text: "element 3", modifyOn: false },
                { text: "element 4", modifyOn: false },
                { text: "element 5", modifyOn: false },
            ]
        },
        methods: {
            supprimer(elt) {
                this.elements = this.elements.filter(function (element) {
                    return elt !== element;
                })
            },
            modifier(elt) {
                //console.log("Modifier l'élément : " + elt);
                elt.modifyOn = true;
            },
            valider(index, event) {
                if(event.key == "Enter"){
                    const value = event
                }
                console.log(event);
            }
        }
    });

</script>

</html>